.social-icons{
    color: #cccccc;
    margin: 0 5px;
    font-size: 30px;
}
.social-icons:hover{
    color: ffffff;
}

.card-img-fixed {
    height: 220px;
    object-fit: cover;
    width: 100%;
    display: block;
}
