<section class="container p-5" id="portfolio">
    <h2 class="text-center">Mis Proyectos</h2>
    <hr class="mb-5">

    <div class="row row-cols1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="{{url_for('static', filename='img/todo-list.png')}}" alt="Imagen del Proyecto" class="d-block mx-lg-auto img-fluid">

                <div class="card-body">
                    <h5 class="card-title"> Lista de Tareas - Flask</h5>
                    <p class="card-text">Este es un proyecto gestor de lista de tareas.</p>
                    <a href="#" class="nav-link text-primary">Ver Proyecto</a>

                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{{url_for('static', filename='img/blog-post.png')}}" alt="Imagen del Proyecto" class="d-block mx-lg-auto img-fluid">

                <div class="card-body">
                    <h5 class="card-title"> BlogPosts - Flask</h5>
                    <p class="card-text">Este es un proyecto gestor de blogs.</p>
                    <a href="#" class="nav-link text-primary">Ver Proyecto</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="{{url_for('static', filename='img/api-contact.png')}}" alt="Imagen del Proyecto" class="d-block mx-lg-auto img-fluid">

                <div class="card-body">
                    <h5 class="card-title"> API Contactos - Flask</h5>
                    <p class="card-text">Este es un proyecto de tipo API-REST para administrar una lista de contactos.</p>
                    <a href="#" class="nav-link text-primary">Ver Proyecto</a>

                </div>
            </div>
        </div>
    </div>

</section>